{% extends 'base.html' %} 

{% block content %} 
<!-- {{block.super}} -->
<div class="container">
    <h1 style="position:relative;left:25px;top:-8px;" class="page-header text-center">Photos</h1>

<div class="row">

{% for photo in images %}
<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 ">
<img data-toggle="modal" data-target="#{{photo.id}}" style="width:370px;
;height:250px;padding:3px;" src="{{photo.Image.url}}" alt="Image" id="img{{photo.id}}" class="img-responsive home-image" >
</div>


  <!-- Modal -->
  <div class="modal fade" id="{{photo.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <img data-toggle="modal" data-target="#{{photo.id}}" style="width:370px; float:left; 
            ;height:250px;padding:3px; position:relative;right:-5px;top:-20px;border:2px white dotted;" src="{{photo.Image.url}}" alt="Image" id="img{{photo.id}}" class="img-responsive home-image" >
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% empty %}

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<h2 class="text-center">No pics uploaded yet</h2>
</div>

{% endfor %}
</div>
</div>
   
{% endblock %}

