<nav style="background-attachment:fixed;" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
<!--   
      <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Locations
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for location in locations %}
                      <a href="/location/{{locations}}" class="btn badge-pill px-3 my-2 btn-outline-success mx-2">
                          <span>{{ location }}</span>
                      </a>
              {% endfor %}
            </div>
          </li> -->
  
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      {% for category in categories %}
                      <a href="/category/{{category}}" class="btn badge-pill px-3 my-2 btn-outline-success mx-2">
                          <span>{{ category}}</span>
                      </a>
              {% endfor %}
            </div>
          </li> -->
  
        <form class="form-inline my-2 my-lg-0" role="search" action="{%url 'search_category'%}">
          {% csrf_token %}
         <input class="form-control mr-sm-2" type="search" placeholder="search by Category" name="category" aria-label="Search">
           <button style="color:black;background:white" type="submit" class="btn btn-primary">Search <i class="fa fa-bug"></i> </button>
      </form>
        </form>
  
      </div>
    </div>
  </nav>